/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}


input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }