
<ng-container *ngIf="!recipe; else recipeEdit">
    Recipe does not exist in the database!
</ng-container>


<ng-template #recipeEdit>
<h3> {{editFlow ? 'Edit a Recipe' : 'Create New Recipe' }} </h3>

<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" class="d-flex flex-column gap-3" (ngSubmit)="onRecipeAddOrEdit()">
            <div class="row">
                <div class="col-xs-12 d-flex gap-2">
                    <button [disabled]="recipeForm.invalid" type="submit" class="btn btn-success">
                        <lucide-icon name="save" ></lucide-icon>
                    </button>
                    <button (click)="onCancelClick()" type="button" class="btn btn-danger">
                        <lucide-icon name="move-left" ></lucide-icon>
                    </button>
                </div>
            </div>

            <!-- Recipe Name Field -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                            type="text" 
                            id="name"
                            class="form-control"
                            formControlName="name"
                        >
                        <p class="text-danger" *ngIf="recipeForm.get('name')?.invalid &&recipeForm.get('name')?.touched">
                            <!-- Required Validator Fails -->
                            <span *ngIf="recipeForm.get('name')?.errors?.['required']">
                                Please provide a Recipe Name!
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Recipe Image -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imageURL">Image URL</label>
                        <input 
                            type="url" 
                            id="imageURL"
                            class="form-control"
                            formControlName="imageURL"
                        >
                        <p class="text-danger" *ngIf="recipeForm.get('imageURL')?.invalid &&recipeForm.get('imageURL')?.touched">
                            <!-- Required Validator Fails -->
                            <span *ngIf="recipeForm.get('imageURL')?.errors?.['required']">
                                Please provide a Recipe Image URL!
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Image Preview -->
            <div class="row" *ngIf="recipeForm.get('imageURL')?.valid">
                <div class="col-xs-12">
                    <img style="max-height: 200px;" [src]="recipeForm.get('imageURL')?.value" class="img-fluid img-thumbnail">
                </div>
            </div>

            <!-- Recipe Description -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            type="text" 
                            id="description"
                            class="form-control"
                            rows="6"
                            formControlName="description"
                        ></textarea>
                        <p class="text-danger" *ngIf="recipeForm.get('description')?.invalid &&recipeForm.get('description')?.touched">
                            <!-- Required Validator Fails -->
                            <span *ngIf="recipeForm.get('description')?.errors?.['required']">
                                Please provide a Recipe Description!
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Recipe Ingredients -->
            <div class="row">
                <h5>Ingredients</h5>
                <hr>
                <div class="col-xs-12" formArrayName="ingredients">
                    <ng-container *ngFor="let formGroup of getIngredientsFormArrayControls(); let i = index">
                    <div [formGroup]="formGroup" class="d-flex gap-2 align-items-center mb-2">
                        <div class="d-flex gap-2">
                            <div class="col-xs-8">
                                <!-- Ingredient Name -->
                                <label for="name"> Name</label>
                                <input id="name" type="text" class="form-control" formControlName="name">
                                <p class="text-danger" *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched">
                                    <!-- Required Validator Fails -->
                                    <span *ngIf="formGroup.get('name')?.errors?.['required']">
                                        Please provide a name!
                                    </span>
                                </p>
                            </div>

                            <div class="col-xs-2">
                                <!-- Ingredient Amount -->
                                <label for="amount"> Amount</label>
                                <input id="amount" type="number" class="form-control" formControlName="amount">
                                <p class="text-danger" *ngIf="formGroup.get('amount')?.invalid && formGroup.get('amount')?.touched">
                                    <!-- Required Validator Fails -->
                                    <span *ngIf="formGroup.get('amount')?.errors?.['required']">
                                        Please provide an amount!
                                    </span>


                                    <!-- Min Validator Fails -->
                                    <span *ngIf="formGroup.get('amount')?.errors?.['min']">
                                        Amount should be greater than 0!
                                    </span>
                                </p>
                            </div>

                            
                        </div>
                        <div>
                            <div class="col-xs-2">
                                <!-- Delete Button -->
                                <button (click)="deleteIngredient(i)" type="button" class="btn btn-danger">
                                    <lucide-icon name="trash-2" ></lucide-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                </div>
                <div class="mt-2">
                    <button [disabled]="recipeForm.get('ingredients')?.invalid" (click)="addMoreIngredients()" type="button" class="btn btn-warning">
                        <lucide-icon name="plus-circle" ></lucide-icon>
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>
</ng-template>