<div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-6">
        <!-- <div *ngIf="error" class="alert alert-danger" role="alert">
            {{error}}
        </div> -->

        <!-- ALERT MODAL -->
        <app-alert (close)="error = '';" [message]="error" *ngIf="error"></app-alert>

        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <!-- Email Field -->
            <div class="mb-3">
                <label class="form-label" for="email">Email </label>
                <input type="email" class="form-control" name="email" id="email" #email="ngModel" ngModel email required>
                <p *ngIf="email.touched && email.invalid" class="text-danger">
                    <!-- For "Required" Validator -->
                    <span *ngIf="email.errors?.['required']">
                        Please enter an Email Address!
                    </span>

                    <!-- For "Email" Validator -->
                    <span *ngIf="email.errors?.['email']">
                        Please enter a valid Email Address!
                    </span>
                </p>
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" #password="ngModel" ngModel required minlength="6">
                <p *ngIf="password.touched && password.invalid" class="text-danger">
                    <!-- For "Required" Validator -->
                    <span *ngIf="password.errors?.['required']">
                        Please enter a Password!
                    </span>

                    <!-- For "MinLength" Validator -->
                    <span *ngIf="password.errors?.['minlength']">
                        Password should have at least 6 characters!
                    </span>
                </p>
            </div>

            <!-- Button -->

                <div class="mt-4">
                    <button [disabled]="authForm.invalid" class="btn btn-primary w-100">
                        <span *ngIf="requestInProgress" class="spinner-border spinner-border-sm" aria-hidden="true"></span>

                        <span *ngIf="!requestInProgress">
                            {{ isLoginMode ? 'Log In' : 'Sign Up'}}
                        </span>
                    </button>
                </div>

            <p class="mt-2 text-center">
                <span *ngIf="isLoginMode">
                    Don't have an account yet?
                    <a class="text-blue" (click)="changeMode()">Sign Up</a>
                </span>
                <span *ngIf="!isLoginMode">
                    Already have an account?
                    <a class="text-blue" (click)="changeMode()">Log In</a>
                </span>
            </p>

        </form>
    </div>
</div>