<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit()">
        <div 
          #userData="ngModelGroup" 
          id="user-data" 
          ngModelGroup="userData"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input 
              type="text" 
              id="username"
              class="form-control"
              name="username" 
              ngModel
              required
            >
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input 
              type="email" 
              id="email" 
              class="form-control"
              name="email"
              ngModel
              required
              email
              #email="ngModel"
            >
            <p *ngIf="email.invalid && email.dirty" class="text-danger">Please enter a valid email address!</p>
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
            <div id="gender" class="radio" *ngFor="let gender of genders">
              <label>
                <input
                  type="radio"
                  name="gender"
                  ngModel
                  [value]="gender"
                >
                {{gender}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select 
            id="secret" 
            class="form-control"
            name="secret"
            [ngModel]="defaultQuestion"
            required
          >
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea 
            name="questionAnswer" 
            class="form-control"
            rows="3"
            [(ngModel)]="answer"
          ></textarea>
        </div>
        <p>Your reply: {{answer}}</p>
      <button 
        class="btn btn-primary" 
        type="submit"
        [disabled]="f.invalid"
      >
        Submit
      </button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{user.username}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Gender: {{user.gender}}</p>
      <p>Secret Question: {{user.secretQuestion}}</p>
      <p>Answer: {{user.answer}}</p>
    </div>
  </div>
</div>
