<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd"
      >
        Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let number of oddNumbers"
          [ngStyle]="{backgroundColor: number % 2 !== 0  ? 'yellow': 'transparent'}"
          [ngClass]="{odd: number % 2 !== 0}"
          >
          {{number}}
          </li>
        </div>

        <div *ngIf="!onlyOdd">
          <li
          class="list-group-item"
          [ngStyle]="{backgroundColor: number % 2 !== 0  ? 'yellow': 'transparent'}"
          *ngFor="let number of evenNumbers"
          >
          {{number}}
          </li>
        </div>
        
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
  <p appBasicHighlight [appBasicHighlight]="'yellow'" > Highlight with Yellow Color when Hover </p>

  <p appBasicHighlight [appBasicHighlight]="'blue'" > Highlight with Blue Color when Hover </p>


  <button class="btn btn-primary" (click)="condition = !condition">
    Change the Condition to {{condition ? 'False' : 'True'}}
  </button>

  <p *ngNotIf="condition"> Shown when condition is False. Because it uses ngNotIf directive</p>

  <!-- Using ngIf  -->
  <!-- <p *ngIf="day == 0"> Day is Sunday </p>
  <p *ngIf="day == 1"> Day is Monday </p>
  <p *ngIf="day == 2"> Day is Tuesday </p>
  <p *ngIf="day == 3"> Day is Wednesday </p>
  <p *ngIf="day == 4"> Day is Thursday </p>
  <p *ngIf="day == 5"> Day is Friday </p>
  <p *ngIf="day == 6"> Day is Saturday </p> -->

  <!-- Using ngSwitch -->
  <ng-container [ngSwitch]="day">

    <!-- Miltiple ngSwitchCase with same condition are allowed -->
    <p *ngSwitchCase="0"> Day is Sunday 1</p>
    <p *ngSwitchCase="0"> Day is Sunday 2</p>
    <p *ngSwitchCase="0"> Day is Sunday 3</p>


    <p *ngSwitchCase="1"> Day is Monday </p>
    <p *ngSwitchCase="2"> Day is Tuesday </p>
    <p *ngSwitchCase="3"> Day is Wednesday </p>
    <p *ngSwitchCase="4"> Day is Thursday </p>
    <p *ngSwitchCase="5"> Day is Friday </p>
    <p *ngSwitchCase="6"> Day is Saturday </p>
    <!-- Multiple ngSwitchDefault are allowed -->
    <p *ngSwitchDefault>This is the default value 1</p>
    <p *ngSwitchDefault>This is the default value 2</p>
    <p *ngSwitchDefault>This is the default value 3</p>

  </ng-container>
  <hr>
  <app-paragraph paraText="Text for Para 1" content="Content for First Paragraph"></app-paragraph>
  <app-paragraph paraText="Text for Para 2" content="Content for Second Paragraph"></app-paragraph>
  <app-paragraph paraText="Text for Para 3" content="Content for Third Paragraph"></app-paragraph>
  <app-paragraph paraText="Text for Para 4"content="Content for Fourth Paragraph"></app-paragraph>
  <app-paragraph paraText="Text for Para 5"content="Content for Fifth Paragraph"></app-paragraph>
  <app-paragraph paraText="Text for Para 6"content="Content for Sixth Paragraph"></app-paragraph>

</div>

