

<h1>Signals</h1>

<hr>

<div style="text-align: center;">
  <p> Communication between Components using Signals </p>

  <div>
    <app-child1></app-child1>
  </div>

  <div>
    <app-child2></app-child2>
  </div>


</div>

<hr>

<div style="text-align: center;">
  <p> Value received from Parent -> {{test()}}</p>
  <p> Derived Value -> {{derived()}}</p>

  <button (click)="onClick()">Show Alert</button>
</div>

<hr>

<div id="counter">
  <!-- Use a getter to read the value of a signal -->
  <p id="counter-output">Counter: {{ counter() }}</p>
  <p> Double Counter: {{ doubleCounter()}}</p>
  <div id="counter-btns">
    <button (click)="decrement()">Decrement</button>
    <button (click)="increment()">Increment</button>
  </div>
</div>

<h2>Action Log</h2>
<ol id="log">
  <!-- Use a getter to read the value of a signal -->
  <li *ngFor="let action of actions()">{{ action }}</li>
</ol>

<hr>
