<div class="inline-flex items-center gap-3 bg-gray-100 rounded-lg p-1">
  
  <button
    type="button"
    (click)="decrement()"
    class="w-8 h-8 flex items-center justify-center rounded-md bg-white shadow-sm border border-gray-200 hover:bg-gray-50 active:scale-95 transition"
  >
    -
  </button>

  <span class="min-w-8 text-center font-medium text-gray-800">
    {{ value() }}
  </span>

  <button
    type="button"
    (click)="increment()"
    class="w-8 h-8 flex items-center justify-center rounded-md bg-white shadow-sm border border-gray-200 hover:bg-gray-50 active:scale-95 transition"
  >
    +
  </button>

</div>
@if (invalid() && touched()) {
    @for (error of errors(); track error) {
        <p class="text-red-500 text-xs italic">{{ error.message }}</p>
    }
}