<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
      <h1>Reactive Form</h1>
      <hr>
      <form [formGroup]="projectForm" (ngSubmit)="createProject()">

          <!-- Project Name -->
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input 
              type="text"
              id="projectName" 
              class="form-control"
              formControlName="projectName"
            >

            <!-- Error Handling for Project Name field -->
            <p  class="text-danger" *ngIf="projectForm.get('projectName').invalid && projectForm.get('projectName').touched">

              <!-- If Required Validation fails -->
              <span *ngIf="projectForm.get('projectName').errors['required']">
                Please Enter a Project Name!
              </span>

              <!-- If Forbidden Name Validation fails -->
              <span *ngIf="projectForm.get('projectName').errors['forbiddenName']">
                Project Name cannot be {{projectForm.get('projectName').value}}!
              </span>

            </p>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email" 
              id="email" 
              class="form-control"
              formControlName="email"
            >
            
            <!-- Error Handling for Email field -->
            <p  class="text-danger" *ngIf="projectForm.get('email').invalid && projectForm.get('email').touched">

              <!-- If Required Validation fails -->
              <span *ngIf="projectForm.get('email').errors['required']">
                Please Enter an Email!
              </span>

              <!-- If Forbidden Name Validation fails -->
              <span *ngIf="projectForm.get('email').errors['email']">
                Please Enter a valid Email!
              </span>

            </p>
          </div>

          <!-- Project Status -->
          <div class="form-group">
            <label for="status">Status</label>
            <select
              id="status"
              class="form-control"
              formControlName="status"
            >
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>

            </select>
          </div>

          <!-- Submit Button -->
          <button [disabled]="projectForm.invalid" type="submit" class="btn btn-primary">Create Project</button>

      </form>
    </div>
  </div>
</div>
